.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.uiLayer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4vw;
  pointer-events: none;
}

.uiLayer > * {
  pointer-events: auto;
}

.spacer {
  flex: 1;
}
